### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', 90)

### Load the data

In [2]:
# import the train set and assign it to 'df'
df = pd.read_csv('../datasets/train.csv')
# import the test set and assign it to 'holdout'
holdout = pd.read_csv('../datasets/test.csv')

### EDA and Cleaning

In [3]:
# display the shape of the training data
df.shape

(2051, 81)

The training dataset contains 2,051 rows (each row represents a house sold) and 81 columns (each column represents a feature, or characteristic of the house).

In [4]:
# # display the shape of the holdout data
holdout.shape

(879, 80)

The holdout dataset contains 879 rows and 80 columns. The target column, sales price, has been removed from the holdout dataset.

Together, the testing and holdout sets describe 2,930 houses; these have been split so that 70 percent are in the training set and 30 percent are in the holdout set.

In [5]:
# display the first 5 rows of the training data using df.head()
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,Condition 2,Bldg Type,House Style,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Roof Style,Roof Matl,Exterior 1st,Exterior 2nd,Mas Vnr Type,Mas Vnr Area,Exter Qual,Exter Cond,Foundation,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,Heating,Heating QC,Central Air,Electrical,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,Kitchen Qual,TotRms AbvGrd,Functional,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Paved Drive,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Sawyer,RRAe,Norm,1Fam,2Story,6,8,1976,2005,Gable,CompShg,HdBoard,Plywood,BrkFace,289.0,Gd,TA,CBlock,TA,TA,No,GLQ,533.0,Unf,0.0,192.0,725.0,GasA,Ex,Y,SBrkr,725,754,0,1479,0.0,0.0,2,1,3,1,Gd,6,Typ,0,NaN,Attchd,1976.0,RFn,2.0,475.0,TA,TA,Y,0,44,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,SawyerW,Norm,Norm,1Fam,2Story,7,5,1996,1997,Gable,CompShg,VinylSd,VinylSd,BrkFace,132.0,Gd,TA,PConc,Gd,TA,No,GLQ,637.0,Unf,0.0,276.0,913.0,GasA,Ex,Y,SBrkr,913,1209,0,2122,1.0,0.0,2,1,4,1,Gd,8,Typ,1,TA,Attchd,1997.0,RFn,2.0,559.0,TA,TA,Y,0,74,0,0,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,7,1953,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,Gd,CBlock,TA,TA,No,GLQ,731.0,Unf,0.0,326.0,1057.0,GasA,TA,Y,SBrkr,1057,0,0,1057,1.0,0.0,1,0,3,1,Gd,5,Typ,0,NaN,Detchd,1953.0,Unf,1.0,246.0,TA,TA,Y,0,52,0,0,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Timber,Norm,Norm,1Fam,2Story,5,5,2006,2007,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,Unf,0.0,Unf,0.0,384.0,384.0,GasA,Gd,Y,SBrkr,744,700,0,1444,0.0,0.0,2,1,3,1,TA,7,Typ,0,NaN,BuiltIn,2007.0,Fin,2.0,400.0,TA,TA,Y,100,0,0,0,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,SawyerW,Norm,Norm,1Fam,1.5Fin,6,8,1900,1993,Gable,CompShg,Wd Sdng,Plywood,None,0.0,TA,TA,PConc,Fa,Gd,No,Unf,0.0,Unf,0.0,676.0,676.0,GasA,TA,Y,SBrkr,831,614,0,1445,0.0,0.0,2,0,3,1,TA,6,Typ,0,NaN,Detchd,1957.0,Unf,2.0,484.0,TA,TA,N,0,59,0,0,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

Each house is described in great detail. It will take some investigation to determine the extent to which each feature can be used in developing a predictive model.

#### Rename Columns

Before I work with them, I like to rename columns to eliminate capital letters and replace spaces with underscores. For me, this makes it easier to work with the data.

In [6]:
# replace spaces in column names with underscores
# and convert all to lowercase
df.columns = [x.replace(" ", "_").lower() for x in df.columns]
holdout.columns = [x.replace(" ", "_").lower() for x in holdout.columns]

#### Check Missingness and Datatypes

In [7]:
# investigate general information about the dataset using df.info()
# this includes inormation on the number of nulls in each column
# and the datatype of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
id                 2051 non-null int64
pid                2051 non-null int64
ms_subclass        2051 non-null int64
ms_zoning          2051 non-null object
lot_frontage       1721 non-null float64
lot_area           2051 non-null int64
street             2051 non-null object
alley              140 non-null object
lot_shape          2051 non-null object
land_contour       2051 non-null object
utilities          2051 non-null object
lot_config         2051 non-null object
land_slope         2051 non-null object
neighborhood       2051 non-null object
condition_1        2051 non-null object
condition_2        2051 non-null object
bldg_type          2051 non-null object
house_style        2051 non-null object
overall_qual       2051 non-null int64
overall_cond       2051 non-null int64
year_built         2051 non-null int64
year_remod/add     2051 non-null int64
roof_style         2051 non-null object
roof_matl          2051 non-null object
exterior_1st       2051 non-null object
exterior_2nd       2051 non-null object
mas_vnr_type       2029 non-null object
mas_vnr_area       2029 non-null float64
exter_qual         2051 non-null object
exter_cond         2051 non-null object
foundation         2051 non-null object
bsmt_qual          1996 non-null object
bsmt_cond          1996 non-null object
bsmt_exposure      1993 non-null object
bsmtfin_type_1     1996 non-null object
bsmtfin_sf_1       2050 non-null float64
bsmtfin_type_2     1995 non-null object
bsmtfin_sf_2       2050 non-null float64
bsmt_unf_sf        2050 non-null float64
total_bsmt_sf      2050 non-null float64
heating            2051 non-null object
heating_qc         2051 non-null object
central_air        2051 non-null object
electrical         2051 non-null object
1st_flr_sf         2051 non-null int64
2nd_flr_sf         2051 non-null int64
low_qual_fin_sf    2051 non-null int64
gr_liv_area        2051 non-null int64
bsmt_full_bath     2049 non-null float64
bsmt_half_bath     2049 non-null float64
full_bath          2051 non-null int64
half_bath          2051 non-null int64
bedroom_abvgr      2051 non-null int64
kitchen_abvgr      2051 non-null int64
kitchen_qual       2051 non-null object
totrms_abvgrd      2051 non-null int64
functional         2051 non-null object
fireplaces         2051 non-null int64
fireplace_qu       1051 non-null object
garage_type        1938 non-null object
garage_yr_blt      1937 non-null float64
garage_finish      1937 non-null object
garage_cars        2050 non-null float64
garage_area        2050 non-null float64
garage_qual        1937 non-null object
garage_cond        1937 non-null object
paved_drive        2051 non-null object
wood_deck_sf       2051 non-null int64
open_porch_sf      2051 non-null int64
enclosed_porch     2051 non-null int64
3ssn_porch         2051 non-null int64
screen_porch       2051 non-null int64
pool_area          2051 non-null int64
pool_qc            9 non-null object
fence              400 non-null object
misc_feature       65 non-null object
misc_val           2051 non-null int64
mo_sold            2051 non-null int64
yr_sold            2051 non-null int64
sale_type          2051 non-null object
saleprice          2051 non-null int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

#### Two key takeaways from this:

1. There are many null values, which will throw errors during modeling if they're not addressed. 

2. 42 of the columns are stored as objects, which will need to be changed to numeric types, if possible, in order to be used in modeling.

#### Null Values

I will have to systematically go through the columns with nulls to address them, so I will define a simple function to display all of the nulls in descending order (most nulls shown first) by calling the function on the dataframe.

In [8]:
# define a function to return all the null values in descending order
def check_nulls(dataframe):
    nulls = dataframe.isnull().sum().sort_values(ascending=False)
    return nulls[nulls > 0]

In [9]:
# display the number of nulls for all columns with nulls
check_nulls(df)

pool_qc           2042
misc_feature      1986
alley             1911
fence             1651
fireplace_qu      1000
lot_frontage       330
garage_finish      114
garage_cond        114
garage_qual        114
garage_yr_blt      114
garage_type        113
bsmt_exposure       58
bsmtfin_type_2      56
bsmtfin_type_1      55
bsmt_cond           55
bsmt_qual           55
mas_vnr_type        22
mas_vnr_area        22
bsmt_half_bath       2
bsmt_full_bath       2
garage_cars          1
garage_area          1
bsmt_unf_sf          1
bsmtfin_sf_2         1
total_bsmt_sf        1
bsmtfin_sf_1         1
dtype: int64

In [10]:
# check nulls on the holdout set
check_nulls(holdout)

pool_qc           875
misc_feature      838
alley             821
fence             707
fireplace_qu      422
lot_frontage      160
garage_cond        45
garage_qual        45
garage_yr_blt      45
garage_finish      45
garage_type        44
bsmt_exposure      25
bsmtfin_type_1     25
bsmt_qual          25
bsmtfin_type_2     25
bsmt_cond          25
mas_vnr_area        1
mas_vnr_type        1
electrical          1
dtype: int64

Some of these are huge percentages. In order to get a better sense of which columns I might want to drop entirely, I'd also like to see the number of nulls as a percentage of the total observations.

In [11]:
# display the percentage of nulls for all columns with null percentage over 25%
nulls = df.isnull().sum().sort_values(ascending=False)
nulls[nulls / df.shape[0] > 0.25] / df.shape[0]

pool_qc         0.995612
misc_feature    0.968308
alley           0.931741
fence           0.804973
fireplace_qu    0.487567
dtype: float64

These five features seem to be missing data for more than 25 percent of their observations, making them candidates to be dropped entirely, but the data dictionary suggestst that an NA value for these categories means that the specified feature is missing from the home (e.g. a home with an NA for pool_qc does not have a pool). A few options exist:

1. *Drop the columns entirely*
2. *Impute values of zero where the feature is specified as ordinal (pool_qc, alley, fence, fireplace_qu)*
3. *Binarize the columns that indicate the presence or non-presence of the feature (e.g. impute a 1 if the property has a pool and a 0 if it doesn't have a pool)*

In the interest of simplicity, I'm going to drop the four columns with greater than 80% null values. In the future it would be interesting to reconsider this for some or all of these columns.

I'll also have to drop these from the holdout set, since the model will expect the number of input features to be the same when applied to the holdout set.

In [12]:
# define the columns to drop
# I'll also drop 'pid' since it's an arbitrary identification number
drop_columns = ['pool_qc', 'misc_feature', 'alley', 'fence', 'pid']

# drop columns with over 80% null values in the training and holdout sets
df.drop(columns=drop_columns, inplace=True)
holdout.drop(columns=drop_columns, inplace=True)

Before looking at the remaining null values directly, I will move on with converting the non-numeric columns, since this will address many of the nulls

#### Converting Non-Numeric Columns (Ordinal Values to Scale)

Based on the data dictionary, many of the non_numeric columns have ordinal values. For example, the column describing basement quality (basement height) includes the following values:    
   
   - Ex   Excellent (100+ inches) 
   - Gd   Good (90-99 inches)
   - TA   Typical (80-89 inches)
   - Fa   Fair (70-79 inches)
   - Po   Poor (&lt;70 inches
   - NA   No Basement 

Thus I will assign numerical values to these ratings, such that "Ex" is converted to 5, "Gd" is converted to 4, and so on through to "NA" being assigned to 0. This should have the secondary benefit of removing some of the remaining null values from these columns.

In [13]:
# define a function to convert the ordinal columns 
# with the Ex-Gd-TA-Fa-Po-NA scale to numeric
def ex_scale(df, column_list):
    for column in column_list:
        # replace ordinal objects with ordinal numbers
        df[column] = df[column].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0})
        # convert columns from object to numeric datatype
        df[column] = pd.to_numeric(df[column])
        # replace null values with 0
        df[column] = df[column].fillna(0)

In [14]:
# run the ex_scale function on the appropriate ordinal columns
column_list = ['bsmt_qual', 
               'bsmt_cond',
               'exter_qual',
               'exter_cond',
               'fireplace_qu',
               'garage_qual',
               'garage_cond',
               'heating_qc',
               'kitchen_qual']
ex_scale(df, column_list)
ex_scale(holdout, column_list)

Additional ordinal characterstics specified in the data dictionary have to be converted in a more piecemeal fashion:

In [15]:
# define a function to streamline the process and apply the changes
# to both the testing and the holdout sets
def var_scale(column, reassign_dict, data_set_list = [df, holdout]):
    for data_set in data_set_list:
        data_set[column] = pd.to_numeric(data_set[column].map(reassign_dict))
        data_set[column] = data_set[column].fillna(0)
        #print(data_set[column].value_counts().sum())

In [16]:
# convert additional ordinal characteristics
var_scale('lot_shape', {'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0})
var_scale('utilities', {'AllPub': 3, 'NoSewr': 2, 'NoSeWa': 1, 'ELO': 0})
var_scale('land_slope', {'Gtl': 2, 'Mod': 1, 'Sev': 0})
var_scale('bsmt_exposure', {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0})
var_scale('bsmtfin_type_1', {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0})
var_scale('bsmtfin_type_2', {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0})
var_scale('electrical', {'SBrkr': 4, 'FuseA': 3, 'FuseF': 2, 'FuseP': 1, 'Mix': 0})
var_scale('functional', {'Typ': 7, 'Min1': 6, 'Min2': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal': 0})
var_scale('garage_finish', {'Fin': 3, 'Rfn': 2, 'Unf': 1})
var_scale('paved_drive', {'Y': 2, 'P': 1, 'N': 0})

In [17]:
# convert binary 'central_air' column to 1 for yes, 0 for no
df['central_air'] = pd.to_numeric(df.central_air.map({'Y': 1, 'N': 0}))

#### Converting Non-Numeric Columns (Non-Ordinal Values to Dummies)

In [18]:
# create a list of the remaining non-numeric columns.
# these are the columns that could not be converted based on ordinal scales
non_ordinal_columns = [col for col in df.select_dtypes(include='object')]

In [19]:
# convert non-ordinal columns to dummies for the test set
df = pd.get_dummies(df, columns=non_ordinal_columns, drop_first=True)

# convert non-ordinal columns to dummies for the holdout set
holdout = pd.get_dummies(holdout, columns=non_ordinal_columns, drop_first=True)

#### Re-check Nulls

In [20]:
# check nulls on test set
check_nulls(df)

lot_frontage      330
garage_yr_blt     114
mas_vnr_area       22
bsmt_full_bath      2
bsmt_half_bath      2
garage_area         1
bsmtfin_sf_1        1
total_bsmt_sf       1
bsmtfin_sf_2        1
garage_cars         1
bsmt_unf_sf         1
dtype: int64

In [21]:
# check nulls on holdout set
check_nulls(holdout)

lot_frontage     160
garage_yr_blt     45
mas_vnr_area       1
dtype: int64

#### garage_yr_built Nulls

In [22]:
# take a look at the rows for which garage_yr_built is null
# to see if there are actually any garages there
garage_df = df[[col for col in df.columns if 'garage' in col]]
garage_df[(df.garage_yr_blt.isnull()) & (df.garage_qual != 0)]

Empty DataFrame
Columns: [garage_yr_blt, garage_finish, garage_cars, garage_area, garage_qual, garage_cond, garage_type_Attchd, garage_type_Basment, garage_type_BuiltIn, garage_type_CarPort, garage_type_Detchd]
Index: []

We know that a 'garage_qual' value of zero means there is no garage. Since there's no year value I can impute for houses with no garage, and there is a lot of other garage information that can contribute to the impact of the garage on the final model, I am going to drop 'garage_yr_blt'.

In [23]:
# drop garage_yr_blt from both the training set and the holdout set
df.drop(columns='garage_yr_blt', inplace=True)
holdout.drop(columns='garage_yr_blt', inplace=True)

#### mas_vnr_area Nulls

In [24]:
# take a look at the rows for which mas_vnr_area is null
masonry_df = df[[col for col in df.columns if 'mas_' in col]]
masonry_df[df.mas_vnr_area.isnull()]

,mas_vnr_area,mas_vnr_type_BrkFace,mas_vnr_type_None,mas_vnr_type_Stone
22,NaN,0,0,0
41,NaN,0,0,0
86,NaN,0,0,0
212,NaN,0,0,0
276,NaN,0,0,0
338,NaN,0,0,0
431,NaN,0,0,0
451,NaN,0,0,0
591,NaN,0,0,0
844,NaN,0,0,0
913,NaN,0,0,0
939,NaN,0,0,0
1025,NaN,0,0,0
1244,NaN,0,0,0
1306,NaN,0,0,0
1430,NaN,0,0,0
1434,NaN,0,0,0
1606,NaN,0,0,0
1699,NaN,0,0,0
1815,NaN,0,0,0
1820,NaN,0,0,0
1941,NaN,0,0,0

There's no values for any of the veneer types, so I will impute an area of zero for these values.

In [25]:
# replace the nulls with zeroes
df['mas_vnr_area'] = df.mas_vnr_area.fillna(value=0)

In [26]:
# take a look at the rows for which mas_vnr_area is null (holdout)
masonry_df = holdout[[col for col in holdout.columns if 'mas_' in col]]
masonry_df[holdout.mas_vnr_area.isnull()]

,mas_vnr_area,mas_vnr_type_BrkFace,mas_vnr_type_CBlock,mas_vnr_type_None,mas_vnr_type_Stone
866,NaN,0,0,0,0

In [27]:
# impute a value of zero for the holdout set's null value
holdout['mas_vnr_area'] = holdout.mas_vnr_area.fillna(value=0)

#### Re-check Nulls

In [28]:
# check remaining nulls for test set
check_nulls(df)

lot_frontage      330
bsmt_full_bath      2
bsmt_half_bath      2
total_bsmt_sf       1
bsmt_unf_sf         1
garage_area         1
garage_cars         1
bsmtfin_sf_2        1
bsmtfin_sf_1        1
dtype: int64

In [29]:
# check remaining nulls for holdout set
check_nulls(holdout)

lot_frontage    160
dtype: int64

#### Impute Missing lot_frontage Values with Linear Regression

In [30]:
# define X and y values for training based on the values that are not null
lot_not_null = df[df.lot_frontage.notnull()].dropna()
X = lot_not_null.drop(columns=['lot_frontage', 'id'])
y = lot_not_null.lot_frontage

In [31]:
# import libraries
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.preprocessing import StandardScaler

In [32]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [60]:
# scale
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

In [34]:
# run linear regression
lr = LinearRegression()
lr.fit(X_train_sc, y_train)
print('train score: ', lr.score(X_train_sc, y_train))
print('test score: ', lr.score(X_test_sc, y_test))

train score:  0.7468739334658869
test score:  -2.1976215626413173e+22

That's a terrible test score. Better try regularization.

In [35]:
# run lasso regression
lasso = LassoCV(cv=10)
lasso.fit(X_train_sc, y_train)
print('train score: ', lasso.score(X_train_sc, y_train))
print('test score: ', lasso.score(X_test_sc, y_test))

In [37]:
# run ridge regression
ridge = RidgeCV(cv=10)
ridge.fit(X_train_sc, y_train)
print('train_score: ', ridge.score(X_train_sc, y_train))
print('test_score: ', ridge.score(X_test_sc, y_test))

Lasso has the best r2 scores, so I'm going to use this to impute the values.

In [39]:
# focus on just the null rows
lot_null = df[df.lot_frontage.isnull()]
lot_null.shape

(330, 187)

In [40]:
# drop the lot_frontage column, which is all nulls
lot_null.drop(columns=['lot_frontage', 'id'], inplace=True)

/Users/kevinc/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(330, 185)

In [41]:
# scale the values
lot_null_sc = ss.transform(lot_null)

In [42]:
# generate predictions
preds = lasso.predict(lot_null_sc)

In [43]:
# insert the predictions
null_lot_indices = list(df[df.lot_frontage.isnull()].index)
for j,i in enumerate(null_lot_indices):
    df.loc[i, 'lot_frontage'] = preds[j]

I want to check that the right predictions were imputed.

In [44]:
# check first five predictions
preds[:5]

array([48.0088566 , 80.88669388, 76.67409601, 67.92934264, 70.91453104])

In [45]:
# check first five imputations
df.lot_frontage[null_lot_indices].head()

0     48.008857
7     80.886694
8     76.674096
23    67.929343
27    70.914531
Name: lot_frontage, dtype: float64

Looks good.

#### Drop the row, since there is an entry that say the property has a 'detached' garage, and therefore I can't impute any info about the garage

In [ ]:
df.drop([1712], inplace=True)

## 'total_bsmt_sf'
#### Find Training row with null value for 'total_bsmt_sf'
I may want to use this as a feature, since it has a high correlation with the the target (0.63), and I believe I can infer that the building has no basement if the other basement columns imply that.

In [ ]:
df[df['total_bsmt_sf'].isnull()]

#### Impute a value of 0 for total_bsmt_sf, since I believe this property has no basement.

In [ ]:
df.set_value(1327, 'total_bsmt_sf', 0)
df.loc[1327]['total_bsmt_sf']

## Drop remaining null values in train set
There are few enough null rows left to remove them without seriously affecting out train set (22 of 2051 is about 1 percent)

In [ ]:
check_nulls(df)

In [ ]:
df.dropna(inplace=True)

## Find remaining null values in test set

In [ ]:
nulls = holdout.isnull().sum().sort_values(ascending=False)
nulls[nulls > 0]

In [ ]:
holdout[holdout['mas_vnr_type'].isnull()]

Since this property has vinyl siding, I can infer that it does not have masonry veneer. I'll impute 'None' for mas_vnr_type and 0 for mas_vnr_area

In [ ]:
holdout.set_value(866, 'mas_vnr_type', 'None')
holdout.set_value(866, 'mas_vnr_area', 0)

## Describe the summary statistics for the columns

In [ ]:
df.describe()

## Check distributions

In [ ]:
df.hist(figsize=(20, 12), bins = 20)
plt.tight_layout();

## Check correlations relative to target

In [ ]:
corr_results = df.corr()[['saleprice']].sort_values('saleprice', ascending=False)
corr_filter = corr_results[abs(corr_results.saleprice > 0.6)]
corr_filter.index

In [ ]:
plt.figure(figsize=(5,10))
sns.heatmap(corr_filter, annot=True, cmap = 'viridis');

## Check correlations among the potential features
  
high correlations on:  
- garage_area AND garage_cars
- fireplaces AND fireplace_qu
- garage_yr_built AND year_built
- gr_live_area AND totrms_abvgrd

In [ ]:
plt.figure(figsize = (15,12))
sns.heatmap(df[corr_filter.index].corr(), annot=True)

## Check for Outliers

In [ ]:
sns.boxplot(df.saleprice)

Looks like our target variable is skewed right.

In [ ]:
sns.boxplot(df.gr_liv_area)

Above-Grade Living Area, one of our main input variables, has a couple of significant outliers.

In [ ]:
df[df.gr_liv_area > 5000]

In [ ]:
sns.boxplot(df.overall_qual)

A score of one on Overall Quality is an outlier.

In [ ]:
df[df.overall_qual == 1]

## Save cleaned datasets to new csv's

In [ ]:
df.to_csv('../datasets/df_clean.csv')
holdout.to_csv('../datasets/holdout_clean.csv')